{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'index/files/main-icon.png' %}" type="image/png" sizes="32x32">
    <link rel="apple-touch-icon" href="{% static 'index/files/main-icon.png' %}" sizes="180x180">
    <title>Selene Auth</title>
</head>
<body>
    <div style="text-align: center; width: 50%; margin: auto;">
        <h1 style="color: green;">Sucsess Auth</h1>
        <img src="{% static 'index/files/main-icon.png' %}" alt="Selene icon" style="width: 50%; max-width: 300px;">
        <h2>Thank you and wellcome...</h2>
    </div>
</body>
</html>