<!DOCTYPE html>
<head>
  <title>Pusher Test</title>
  <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
  <script>
    Pusher.logToConsole = true;
    var pusher = new Pusher('5571a7e3223bf9795d51', {
      cluster: 'ap2'
    });
    var channel = pusher.subscribe("{{ channel }}");
    channel.bind("event", function(data) {
      var jsonString = JSON.stringify(data);
      var msg = JSON.parse(jsonString); 
       document.getElementById("textarea").value = document.getElementById("textarea").value + "\n" + jsonString ;
      alert("new msg");
    });
  </script>
</head>
<body>
  <div style="margin: auto; margin-top: 10%; width: 40%; text-align: center;">
    {{ send }}
    <div>
      <textarea name="textarea" id="textarea" cols="30" rows="10" style="margin: auto; width: 50%; resize: none;"></textarea>
    </div>
  </div>
  {% for i in ms  %}
    {{ i }}
  {% endfor %}
</body>
